.authorization {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.authorization-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
