{% extends 'pages/base.html' %}

{% load static %}
<!DOCTYPE html>

{% block styles %}
    <link type="text/css" href="{% static 'accounts/css/authorization.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <h1 class="titleText">Log In</h1>
    <div class="white-board authorization">
        <div class="authorization-body">
            <form method="post">
                {% csrf_token %}
                {% for f in form %}
                    <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                    <div class="mb-10">{{ f }}</div>
                    <div class="">{{ f.errors }}</div>
                {% endfor %}
                <button type="submit" class="button color form-large mt-10">Login</button>
            </form>
            <a class="button active form-large mt-10" href="{% url 'accounts-register' %}">Create an account</a>
        </div>
{% endblock %}
